/* style.css */

/* Klasa dla przycisku z żółtą kropką */
.yellow-dot-button {
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-radius: 2;
    -fx-padding: 5;
    -fx-background-radius: 0;
    -fx-min-width: 20;
    -fx-min-height: 20;
    -fx-cursor: hand; /* Zmiana kursora na rączkę */
}

.yellow-dot-button .dot {
    -fx-background-color: #d8db30;
    -fx-background-radius: 50%;
    -fx-min-width: 10;
    -fx-min-height: 10;
    -fx-max-width: 10;
    -fx-max-height: 10;
}

/* Styl dla przycisku najechanego kursorem */
.yellow-dot-button:hover {
    -fx-background-color: #e6e6e6; /* Delikatne podświetlenie przycisku */
}





.blue-dot-button {
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-radius: 2;
    -fx-padding: 5;
    -fx-background-radius: 0;
    -fx-min-width: 20;
    -fx-min-height: 20;
    -fx-cursor: hand; /* Zmiana kursora na rączkę */
}

.blue-dot-button .dot {
    -fx-background-color: #2147cf;
    -fx-background-radius: 50%;
    -fx-min-width: 10;
    -fx-min-height: 10;
    -fx-max-width: 10;
    -fx-max-height: 10;
}

/* Styl dla przycisku najechanego kursorem */
.blue-dot-button:hover {
    -fx-background-color: #e6e6e6; /* Delikatne podświetlenie przycisku */
}



.green-dot-button {
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-radius: 2;
    -fx-padding: 5;
    -fx-background-radius: 0;
    -fx-min-width: 20;
    -fx-min-height: 20;
    -fx-cursor: hand; /* Zmiana kursora na rączkę */
}

.green-dot-button .dot {
    -fx-background-color: #26e026;
    -fx-background-radius: 50%;
    -fx-min-width: 10;
    -fx-min-height: 10;
    -fx-max-width: 10;
    -fx-max-height: 10;
}

/* Styl dla przycisku najechanego kursorem */
.green-dot-button:hover {
    -fx-background-color: #e6e6e6; /* Delikatne podświetlenie przycisku */
}



.grey-info-button {
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-radius: 2;
    -fx-padding: 5;
    -fx-background-radius: 0;
    -fx-min-width: 20;
    -fx-min-height: 20;
    -fx-cursor: hand; /* Changes cursor to a hand on hover */
}

.info-label {
    -fx-background-color: #b0b0b0; /* Grey color for the dot */
    -fx-background-radius: 50%;
    -fx-text-fill: white; /* White color for the letter 'i' */
    -fx-alignment: center; /* Centers the text */
    -fx-min-width: 14;
    -fx-min-height: 14;
    -fx-max-width: 14;
    -fx-max-height: 14;
    -fx-font-weight: bold; /* Makes the 'i' bold */
    -fx-font-size: 12px; /* Font size for the 'i' */
}

/* Button hover style */
.grey-info-button:hover {
    -fx-background-color: #e6e6e6; /* Subtle highlight on button hover */
}



